.realmain {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-content: space-between;
  margin: auto;
  width: 800px;
}

.main {
  padding: 0px;
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
  display: flex;
  flex-direction: row;
  

}

.inner {
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
}

.inner1 {
  height: 300px;
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-style: solid ;
  border-width: 1px;
  border-color: black;
  font-size: 40px;
}

.inner-one {

    
   background-color: green
}

.inner-two {
  
  background-color: blue
}

.inner-three {

  background-color: grey
}

.inner-four {
  
  background-color: black;
}

.inner-five {
  
  background-color: orange;
}
